.main-nav {
  width: auto;
  border: 12px;
  border-radius: 67px round rgb(255, 0, 0);
  margin-top: 5px;
}

.nav-header {
  font-size: 19px;
  font-family: Arial;
  text-align: center;
  padding-left: 17em;
}

.logout-btn:hover{
  color: rgb(63, 63, 141);
  cursor: pointer;
}
